<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Welcome</h1>
                <p class="fs-4">This tool will help you on your plant journey. Just take the quiz and let us recommend the best plants for you. It's completely free!</p>
                <a class="btn btn-primary btn-lg" routerLink="quiz" routerLinkActive="active">Start the quiz</a>

            </div>
        </div>
    </div>
  </header>